<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <div class="title">
      <title>Energía Colombia</title>
    </div>

    <!-- Charlist-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <!-- Bootstraps Java Scipts Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JQuery links  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- ruta a embellecedor - css  -->
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <header>
      <div class="container">
        <h1 class="logo">
          Energía Colombia
        </h1>
      </div>
      <div class="parrafo">
        <p>
          En esta pagina podras consultar datos del SiMEM a través su API. Ingresa los siguientes datos para empezar:
        </p>
        <p>Ten en cuenta:</p>
        <p>Demanda largo plazo: 596c1c</p>
        <p>Aportes Hidricos: 2bff14</p>
            
        <p>Haz click en Enviar para analizar los datos de entrada.</p>
      </div>

      <div class="datos_entrada">
        <form method="POST">
          <label for="start_date">Fecha de inicio:</label>
          <input type="text" value="2023-11-22" placeholder="2023-11-22" id="start_date" name="start_date"><br><br>

          <label for="end_date">Fecha final:</label>
          <input type="text" value="2023-11-23" placeholder="2023-11-23"  id="end_date" name="end_date"><br><br>

          <label for="dataset_id_SiMEM">DatasetID (consulta el id en 
            <a href="https://www.simem.co/"  target="_blank">https://www.simem.co/</a>
            ):
          </label>
          <input type="text" value="2bff14" placeholder="2bff14"  id="dataset_id_SiMEM" name="dataset_id_SiMEM"><br><br>

          <input type="submit" value="Enviar">
        </form>
      </div>

      <div class="plot_data_selection">
        <!-- aqui se crean los dropdown menus de las columnas del dataframe que se quieren plotear
        <p>
          {{data_columns}}
        </p>
        -->
        <p>Selecciona los valores de los ejes X y Y del set de datos para graficar</p>
        <form action="/">
          <label for="x_axis_options">Valores eje X:</label>
          <select id="x_axis_options" name="x_axis_options", method="GET", action="/", onchange="plot_simem_data()">
            {% for column in data_columns[1:] %}
            <option value="{{column}}" SELECTED>{{column}}</option>
            {% endfor %}
          </select>
        </form>
        <form action="/">
          <label for="y_axis_options">Valores eje Y:</label>
          <select id="y_axis_options" name="y_axis_options", method="GET", action="/", onchange="plot_simem_data()">
            {% for column in data_columns[1:] %}
            <option value="{{column}}" SELECTED>{{column}}</option>
            {% endfor %}
          </select>
        </form>
      </div>
      
      <!-- idea inicial de como crear grafica basado en selección del dropdown menu
      <div >
        <script>
          function plot_simem_data() 
          {
            new Chartist.Line('.ct-chart', {
              labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
              series: {{data_norm}} 
            }, {
              fullWidth: true,
              chartPadding: {
                right: 40
              }
            });

          }
            
        </script>
      </div>
       -->


      <div class="plot_box1">

        <!-- esta parte es script de java script -->
        <script>
          // definición de la clase que creará la gráfica
          class MyCharts{
            constructor(XData, YData, width, height)
            {
                this.XData = XData;
                this.YData = YData;
                this.width = width;
                this.height= height;
            }
            createGraph()
            {
                var data =
                    {
                      labels: this.XData,
                      series:[
                          this.YData
                      ]
                    }

                var options = {
                    width:this.width,
                    height:this.height,
                    axisX:{
                        showGrid:true,
                        showLabel:true
                    },
                    axisY:{
                        offset:30, 
                        position: 'start',
                        axisYmin: 0
                        
                    },
                    labelOffset: {
                      x: 0,
                      y: 0
                    },
                    
                    low: 0
                };
                new Chartist.Line('.plot_box1', data, options);
            }
          }
          
          //<!-- Manejo de los datos -->
          var XData = [1,2,3]; //<!-- hard coded -->
          var YData = $.get('/Example_Data'); //<!-- Recepción de datos desde el backend de flask -->
          //var XData = $.get('/Example_Data');
          
          //<!-- creación de la gráfica -->
          var plot_with_flask_data = YData.done(
            function (resp) {
              console.log("JSON DATA", resp.YData); //<!-- para testear que los datos fueron recibidos en html -->
              var width = 500;
              var height= 300;
              var my_obj = new MyCharts(XData, resp.YData, width, height);
              my_obj.createGraph();
            }
          )

        </script>
      </div>

    </header>
  </body>
</html>