{% extends 'base.html' %}
{% block content%}
    <div class="main-content">
      <div class="parrafo">
        <p>
            El inicio de una linda historia.
        </p>
        <p>
          Este es un test para aprender a poner una grafica en una web app con Flask. Un ejercicio básico con home.html para mostrar la app al usuario, style.css para modificar el aspecto de la página haciendo uso del css box model y main.py para el uso básico del backend con Flask. La grafica se creó por medio de chartist en JavaScript
        </p>

      <div class="parrafo">
        <p>
          Este es otro parrafo con class="parrafo" que recibe las mismas caracteristicas desde stype.css
        </p>
      </div>
    </div>
{% endblock %}